In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\chint\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (1.3.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\chint\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\chint\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\chint\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (1.21.0)
Requirement already satisfied: six>=1.5 in c:\users\chint\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [2]:
#import numpy as np
import pandas as pd

In [3]:
a=[1,2,3,4]
data=pd.Series(a)
data

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
# label
data=pd.Series(a,index=["m","x","y","z"])
data

m    1
x    2
y    3
z    4
dtype: int64

In [5]:
#dictionary as series
fruit={"Apple":20,"kivi":30,"mango":20,"orange":30}
fruit=pd.Series(fruit)
print(fruit)

Apple     20
kivi      30
mango     20
orange    30
dtype: int64

In [6]:
data={"calories":[100,200,300,None],"duration":[12,23,None,None]}
data=pd.DataFrame(data)
data

   calories  duration
0     100.0      12.0
1     200.0      23.0
2     300.0       NaN
3       NaN       NaN

In [7]:
data=[["Alex",10],["Bob",20],["John",12]]
data=pd.DataFrame(data,columns=["Name","RollNO"],dtype=np.int16)
data

NameError: name 'np' is not defined

In [ ]:
data=[{"a":10,"b":20,"c":67},{"a":10,"b":20,"c":30}]
df1=pd.DataFrame(data,index=["r1","r2"],columns=["a","b","c","D"])
print(df1)
print(df1.dtypes)

In [ ]:
df1

In [ ]:
# loc return data by index
df1.loc['r1']

In [ ]:
df1.loc["r2"]

In [ ]:
# read data from csv
data=pd.read_csv("data.csv")
data

In [ ]:
data.tail()

In [ ]:
# read Excel
exce_data=pd.read_excel("Employee_Data.xls")
exce_data.head()

In [ ]:
# Html Data
html_data=pd.read_html("https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/")
html_data[0].head()