### Basic Question

#### 1. Combine All Dictionary to one Dictionary<br>
D1= {1:10, 2:20, 3:30}<br>
D2= {4:40, 5:50, 6:60}<br>
D3= {7:70, 8:80, 9:90}<br>
**Output: d1={1:10,2:20,3:30,4:40,5:50,6:60,7:70,8:80,9:90}**

In [ ]:
D1= {1:10, 2:20, 3:30}
D2= {4:40, 5:50, 6:60}
D3= {7:70, 8:80, 9:90}
print(D1)
print(D2)
print(D3)
print("updated Dictionary")
D1.update(D2)
D1.update(D3)
print(D1)

{1: 10, 2: 20, 3: 30}
{4: 40, 5: 50, 6: 60}
{7: 70, 8: 80, 9: 90}
updated Dictionary
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60, 7: 70, 8: 80, 9: 90}

#### 2. Create following Dictionary Add another key and value to existing Dictionary.<br>
Dic1= {1:10, 2:20, 3:30, 4:40, 5:50}<br>
Output: dic1= {1:10, 2:20, 3:30, 4:40, 5:50, 6:60}

In [ ]:
Dic1= {1:10, 2:20, 3:30, 4:40, 5:50}
print(Dic1)
Dic1[6]=60
print(Dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

#### 3.Create dictionary and display following output<br>
d1={"rollno":1,”Name”:”ABC”,"sem1":[10,20,30],"sem2":[40,50,60],"sem3":[40,50,60]}<br>
print Rollup, Name and all sem marks.

In [ ]:
d1={"rollno":1,"Name":"ABC","sem1":[10,20,30],"sem2":[40,50,60],"sem3":[40,50,60]}
for key,val in d1.items():
    print(key,val)

rollno 1
Name ABC
sem1 [10, 20, 30]
sem2 [40, 50, 60]
sem3 [40, 50, 60]

#### 4. Create an Empty dictionary After Add 1 to 10 value in that dictionary.

In [ ]:
d1=dict()
d2={1:1,2:2,3:3,4:4,5:5,6:6,7:7,8:8,9:9,10:10}
d1.update(d2)
print(d1)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10}

#### 5. Create a dictionary print only keys and print only values.

In [ ]:
fruit={"mango":100,"Grapes":30,"kivi":30,"orange":10,"Banana":5,"Apple":20}
print(fruit.keys())
print(fruit.values())

dict_keys(['mango', 'Grapes', 'kivi', 'orange', 'Banana', 'Apple'])
dict_values([100, 30, 30, 10, 5, 20])

#### 6. Create dictionary print following output <br>
D1= {“no”:1,”Name”:”xyz”}<br>
Output:<br>
D1= {“no”:1,”name”:”xyz”,”course”:”python”,”Fees”, 10000}<br>

In [ ]:
D1= {"no":1,"Name":"xyz"}
D1["course"]="Python"
D1["Fees"]=10000
print(D1)

{'no': 1, 'Name': 'xyz', 'course': 'Python', 'Fees': 10000}

#### 7. Create a dictionary and apply this method pop, popitem, del, clear.

In [ ]:
fruit={"mango":100,"Grapes":30,"kivi":30,"orange":10,"Banana":5,"Apple":20}
print(fruit)
# Remove mango in the dictionary
fruit.pop("mango")
print(fruit)
# Remove last item in the dictionary
fruit.popitem()
print(fruit)
# Remove all element in the dictionary
fruit.clear()
print(fruit)
# Remove all element in the dictionary
del fruit
print(fruit)

{'mango': 100, 'Grapes': 30, 'kivi': 30, 'orange': 10, 'Banana': 5, 'Apple': 20}
{'Grapes': 30, 'kivi': 30, 'orange': 10, 'Banana': 5, 'Apple': 20}
{'Grapes': 30, 'kivi': 30, 'orange': 10, 'Banana': 5}
{}

NameError: name 'fruit' is not defined

#### 8.  Create a dictionary calculate sum of all value in dictionary

In [ ]:
my_dict = {'data1':100,'data2':-54,'data3':247}
print(sum(my_dict.values()))

293

#### 9. Create Dictionary find minimum and maximum value in the dictionary

In [ ]:
my_dict = {'x':500, 'y':5874, 'z': 560}

key_max = max(my_dict.keys(), key=(lambda k: my_dict[k]))
key_min = min(my_dict.keys(), key=(lambda k: my_dict[k]))

print('Maximum Value: ',my_dict[key_max])
print('Minimum Value: ',my_dict[key_min])

Maximum Value:  5874
Minimum Value:  500

### Advance

#### 1. Write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). And then the program should print the dictionary.<br>
**Example:**<br>
Suppose the following input is supplied to the program: 8 <br>
Then, the output should be:<br>
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}<br>

In [ ]:
def squares(n):
	ans = {}
	for i in range(1, n + 1):
		ans[i] = i * i
	return ans
squares(10)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
#or
n=int(input("Enter a number:"))
d={x:x*x for x in range(1,n+1)}
print(d)

Enter a number:10
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

#### 2. Write a Python program to create a dictionary from a string.<br>
Note: Track the count of the letters from the string.<br>
Sample string: 'this is string'<br>
**Output: {'t': 2, 'h': 1, 'i': 3, 's': 2, ' ': 2, 'S': 1, 'r': 1, 'n': 1, 'g': 1}**

In [ ]:
str1 = 'this is String' 
my_dict = {}
for letter in str1:
    my_dict[letter] = my_dict.get(letter, 0) + 1
print(my_dict)

{'t': 2, 'h': 1, 'i': 3, 's': 2, ' ': 2, 'S': 1, 'r': 1, 'n': 1, 'g': 1}