### Tuple & List Program

#### 1. Take two tuple of your choice and print if tuple is same or not using comparison function or doing manually

In [1]:
t1, t2 = (123, 'xyz'), (456, 'abc')

if t1 > t2:
    print("t1 is bigger then t2.")
elif t1 < t2 :
    print ("t2 is bigger then t1.")
else:
    print("bith tuples are same.")

t2 is bigger then t1.

#### 2. Take a Tuple and list find minimum and maximum Values.

In [2]:
t1 = (12,45,23,56,1,2,5,4,7,456)

print("max number of t1 is = %d\nmin number of t1 is = %d"%(max(t1),min(t1)))

max number of t1 is = 456
min number of t1 is = 1

In [3]:
l1=[12,345,657,34,23,56,78,2]
print("max number of l1 is = %d\nmin number of l1 is = %d"%(max(l1),min(l1)))

max number of l1 is = 657
min number of l1 is = 2

#### 3.  Create program take a one tuple and list and convert Tuple into the list and list into the Tuple.

In [4]:
t = (1,2,3,4,5,6,2,454,12,45,78)
l = [15,48,5,2,78,45,48,5,2,21,1]

print(list(t))
print(tuple(l))

[1, 2, 3, 4, 5, 6, 2, 454, 12, 45, 78]
(15, 48, 5, 2, 78, 45, 48, 5, 2, 21, 1)

#### 4. Create tuple and list find sum of value

In [5]:
t = (1,2,3,4,5,6,2,454,12,45,78)
l = [15,48,5,2,78,45,48,5,2,21,1]
print("sum of tuple t is:",sum(t))
print("sum of list l is:",sum(l))

sum of tuple t is: 612
sum of list l is: 270

#### 5. Create list like below with one command.
[None, None, None, None, None, None, None, None, None, None, None,None, None, None, None, None, None, None, None, None]

In [6]:
# Using Loop
n = None
l = []

user = int(input("enter number to create list : "))

for i in range(user):
    l.append(n)

print(l)

enter number to create list : 2
[None, None]

#### What would be output of following?

In [9]:
a_list = [1,2,3]
b_list = a_list
a_list is b_list
print("Value of List a:",a_list)
print("Value of List b:",b_list)
a_list.append(27)
print("Value of List a:",a_list)
print("Value of List b:",b_list)

Value of List a: [1, 2, 3]
Value of List b: [1, 2, 3]
Value of List a: [1, 2, 3, 27]
Value of List b: [1, 2, 3, 27]

In [10]:
a_list = [1,2,3]
b_list = a_list[:]
a_list is b_list
print("Value of List a:",a_list)
print("Value of List b:",b_list)
a_list.append(27)
print("Value of List a:",a_list)
print("Value of List b:",b_list)

Value of List a: [1, 2, 3]
Value of List b: [1, 2, 3]
Value of List a: [1, 2, 3, 27]
Value of List b: [1, 2, 3]

### List Program

#### 1. Create a list And Apply following method.
 Append
 Insert
 Extend
 Index
 Count
 Remove
 Reverse

In [18]:
l1=[10,20,30,40]
print("Value of List l1:",l1)
# Use Append Method
l1.append([23,45])
print("After Append Some Value:",l1)
# Use insert Method
l1.insert(2,100)
print("Insert Value at 2nd Position",l1)
# Use Extend Method
l1.extend([100,300])
print("Using Extend Method",l1)
# Use count Method
x=l1.count(100)
print("100 Repeat at:{} times".format(x))
# Remove element
l1.remove(300)
print("After Remove element:{}".format(l1))
# Reverse all element
l1.reverse()
print("Reverse All element:{}".format(l1))

Value of List l1: [10, 20, 30, 40]
After Append Some Value: [10, 20, 30, 40, [23, 45]]
Insert Value at 2nd Position [10, 20, 100, 30, 40, [23, 45]]
Using Extend Method [10, 20, 100, 30, 40, [23, 45], 100, 300]
100 Repeat at:2 times
After Remove element:[10, 20, 100, 30, 40, [23, 45], 100]
Reverse All element:[100, [23, 45], 40, 30, 100, 20, 10]

#### 2. Create Following list and Apply some Operation.

L1=[1,2,3,4,["python","java","c++",(10,20,30)],5,6,7,["apple","banana","orange"]] <br>
**Print following:<br>**
30<br>
Orange->e<br>
Python -> o<br>

In [34]:
L1=[1,2,3,4,["python","java","c++",(10,20,30)],5,6,7,["apple","banana","orange"]]
print(L1)
print("=================")
print(L1[4][3][-1])
print("=================")
print(L1[-1][-1])
print("=================")
print(L1[4][0])

[1, 2, 3, 4, ['python', 'java', 'c++', (10, 20, 30)], 5, 6, 7, ['apple', 'banana', 'orange']]
=================
30
=================
orange
=================
python

#### 3. Create a one list .copy all the value in second list. Than change a one value that don’t effect on a copy list.

In [36]:
fruit=["mango","Grapes","Gvava"]
Update_fruit=fruit[:]
fruit.append("Apple")
print("Original fruit List:",fruit)
print("Update fruit List:",Update_fruit)

Original fruit List: ['mango', 'Grapes', 'Gvava', 'Apple']
Update fruit List: ['mango', 'Grapes', 'Gvava']

#### 4.Create a one list .copy all the value in second list. Than change a one value. Original list and copy list both are same

In [37]:
fruit=["mango","Grapes","Gvava"]
Update_fruit=fruit
fruit.append("Apple")
print("Original fruit List:",fruit)
print("Update fruit List:",Update_fruit)

Original fruit List: ['mango', 'Grapes', 'Gvava', 'Apple']
Update fruit List: ['mango', 'Grapes', 'Gvava', 'Apple']

#### 5.Create a list print reverse list without using any method.

In [38]:
l1=[12,435,67,32,65,90,90]
print("Reverse list")
print(l1[::-1])

Reverse list
[90, 90, 65, 32, 67, 435, 12]

#### 6.Create two list and join two list without using method

In [39]:
l1=[1,2,3,4,5]
l2=[10,20,30,40]
print("Concat of Two String:",(l1+l2))

Concat of Two String: [1, 2, 3, 4, 5, 10, 20, 30, 40]

#### 7.Create a list and repeat that list value in 5 times.

In [40]:
fruit=["Apple","Banana","Kivi"]
print("Repeted List")
print(fruit*5)

Repeted List
['Apple', 'Banana', 'Kivi', 'Apple', 'Banana', 'Kivi', 'Apple', 'Banana', 'Kivi', 'Apple', 'Banana', 'Kivi', 'Apple', 'Banana', 'Kivi']

#### 8. Create a list and apply Assenting and descending order.

In [44]:
fruit=["Apple","Banana","Kivi","Grapes","Mango"]
print("Fruit Name is Desending Order")
fruit.sort(reverse=True)
print(fruit)

Fruit Name is Desending Order
['Mango', 'Kivi', 'Grapes', 'Banana', 'Apple']

In [45]:
fruit=["Apple","Banana","Kivi","Grapes","Mango"]
print("Fruit Name is Assending Order")
fruit.sort()
print(fruit)

Fruit Name is Assending Order
['Apple', 'Banana', 'Grapes', 'Kivi', 'Mango']

### Tuple Program

#### 1.  Create following Tuple Apply some Operation.
t1=(1,2,3,['hello',10,20,30,"world"],4,5,6,("one","two",100,200,300))<br>
**Print following.<br>**
Two -> o<br>
World->r<br>
5 <br>

In [51]:
t1=(1,2,3,['hello',10,20,30,"world"],4,5,6,("one","two",100,200,300))
print(t1)
print("===============")
print(t1[-1][1])
print("===============")
print(t1[3][4][2])
print("===============")
print(t1[5])

(1, 2, 3, ['hello', 10, 20, 30, 'world'], 4, 5, 6, ('one', 'two', 100, 200, 300))
===============
two
===============
r
===============
5

####  2. Create a tuple and Apply following Print first two value.
Print last two value.<br>
Skip first 3 value than print all tuple value.<br>
Skip last 3 value than print all tuple value. <br>

In [62]:
l1=[10,20,30,40,50]
print("Original List:",l1)
print("Last Two Value:",l1[-2:])
print("Skip First 3 Values:",l1[:3])
print("Skip Last 3 Values:",l1[:-3])

Original List: [10, 20, 30, 40, 50]
Last Two Value: [40, 50]
Skip First 3 Values: [10, 20, 30]
Skip Last 3 Values: [10, 20]

#### 3.Create two tuple join two tuple.

In [64]:
t1=(1,2,3)
t2=(10,20,30)
print("Join Two Tuple")
print(t1+t2)

Join Two Tuple
(1, 2, 3, 10, 20, 30)

#### 4.Create tuple find length of tuple.

In [66]:
t1=(10,20,30,23,34,23,45,56,67,45,67,34)
print("Length of tuple is:",len(t1))

Length of tuple is: 12

### Advance Program

#### Print and count Duplicate value from Tuple.

In [67]:
t=(10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 10, 80, 77, 100, 78, 77)

# print those diplicate numbers
for i in range(0,len(t)):
  if(t[i] in t[i+1:]):
     print(t[i])

10
80
100
77

#### Print count (frequency) of unique values from list (applicable after looping learning)

In [69]:
for i in range(0,len(t)):
  num=t[i]
  count =1
  print(num, "has occured ", end="")
  for j in range (i+1,len(t)):
    if (num == t[j]):
      count =count +1
  print(count," times")

10 has occured 2  times
20 has occured 1  times
30 has occured 1  times
40 has occured 1  times
50 has occured 1  times
60 has occured 1  times
70 has occured 1  times
80 has occured 2  times
90 has occured 1  times
100 has occured 2  times
10 has occured 1  times
80 has occured 1  times
77 has occured 2  times
100 has occured 1  times
78 has occured 1  times
77 has occured 1  times

### String Program

#### 1. Enter any string by user and print reverse this string

In [71]:
s=input("Enter any string")
print("Original String:",s)
print("Revese String:",s[::-1])

Enter any stringhello
Original String: hello
Revese String: olleh

#### 2.Enter any string by user and change this string.

In [74]:
s=input("Enter any string")
print("Original String:",s)
print("change string is:",s+"data")

Enter any stringhello
Original String: hello
change string is: hellodata

#### 3. Enter any string and character by user and search character is available String or Not.

In [77]:
s=input("Enter any string:")
c=input("Enter any character:")
print(c in s)

Enter any string:hello
Enter any character:e
True

#### 4. Create list, tuple and set and convert into string.

In [87]:
l1=[10,20,30]
str(l1)

'[10, 20, 30]'

In [88]:
t1=(100,200,300)
str(t1)

'(100, 200, 300)'

In [89]:
set1={'a','b','c'}
str(set1)

"{'a', 'c', 'b'}"

#### 5.Enter any String convert String Uppercase and Lowercase

In [90]:
s1="Hello World"
print(s1.upper())
print(s1.lower())

HELLO WORLD
hello world

#### Enter the String to check that string Palindrome or not.

In [92]:
s1=input("Enter the String")
rev=s1[::-1]
if s1==rev:
    print("The string is Palindrome")
else:
    print("The string is not Palindrome")

Enter the Stringaba
The string is Palindrome