### Basic

####  1. Print 10 to 1 value.

In [ ]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

#### 2. Enter a value from user print Multiplication Table.

In [ ]:
n=eval(input("Enter the value:"))
for i in range(1,11):
    print(i,"*",n,"=",i*n)

Enter the value:6
1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54
10 * 6 = 60

#### 3. Print even value between 1 to 50.

In [ ]:
for i in range(0,51,2):
    print(i,end=",")

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,

In [ ]:
#or
for i in range(0,51):
    if i%2==0:
        print(i,end=",")

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,

#### 4. Print odd value between 1 to 50.

In [ ]:
for i in range(1,51,2):
    print(i,end=",")

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,

In [ ]:
#or
for i in range(1,51):
    if i%2!=0:
        print(i,end=",")

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,

 #### 5. Print that number between range of 1 to 50 it is divisible by 5 or 10.

In [ ]:
for i in range(1,51):
    if i%5==0 and i%10==0:
        print(i,end=",")

10,20,30,40,50,

#### 6. Print square or cube of 1 to 50 number.

In [ ]:
for i in range(1,51):
       print(i,i*i,i*i*i)

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729
10 100 1000
11 121 1331
12 144 1728
13 169 2197
14 196 2744
15 225 3375
16 256 4096
17 289 4913
18 324 5832
19 361 6859
20 400 8000
21 441 9261
22 484 10648
23 529 12167
24 576 13824
25 625 15625
26 676 17576
27 729 19683
28 784 21952
29 841 24389
30 900 27000
31 961 29791
32 1024 32768
33 1089 35937
34 1156 39304
35 1225 42875
36 1296 46656
37 1369 50653
38 1444 54872
39 1521 59319
40 1600 64000
41 1681 68921
42 1764 74088
43 1849 79507
44 1936 85184
45 2025 91125
46 2116 97336
47 2209 103823
48 2304 110592
49 2401 117649
50 2500 125000

####  7.Create a list print sum of all list value.

In [ ]:
l1=[34,56,67,54,67,56,67,34,78,56,78]
s=0
for  i in l1:
    s=s+i
print(s)

647

#### 8. Fibonacci series

In [ ]:
# Program to display the Fibonacci sequence up to n-th term

nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
    print("Please enter a positive integer")
elif nterms == 1:
    print("Fibonacci sequence upto",nterms,":")
    print(n1)
else:
    print("Fibonacci sequence:")
    while count < nterms:
        print(n1)
        nth = n1 + n2
        # update values
        n1 = n2
        n2 = nth
        count += 1

How many terms? 5
Fibonacci sequence:
0
1
1
2
3

#### 10. Factorial program

In [ ]:


# To take input from the user
num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
       print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
       print("The factorial of 0 is 1")
else:
       for i in range(1,num + 1):
            factorial = factorial*i
        print("The factorial of",num,"is",factorial)

Enter a number: 3
The factorial of 3 is 6

#### 9.  Enter the value by user and find sum of n number

In [ ]:
n=eval(input("Enter the Number"))
s=0
for i in range(0,n+1):
    s=s+i
print("sum of 1 to {} number is {}".format(n,s))

Enter the Number23
sum of 1 to 23 number is 276

### Advance

#### 1. Create following Program

#### * 
#### *  *
#### *  *  *
#### *  *  *  * 
#### *  *  *  *  *

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

#### * * * * * * 
#### * * * * * 
#### * * * * 
#### * * * 
#### * * 
#### *

In [ ]:
for i in range(6,0,-1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

1  <br>
2 2 <br>
3 3 3 <br>
4 4 4 4<br>
5 5 5 5 5<br>

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

1<br>
1 2<br>
1 2 3<br>
1 2 3 4<br>
1 2 3 4 5<br>

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

#### 2. Print prime number of 1 to 50.

In [ ]:
lower = int(input("Enter lower range: "))  
upper = int(input("Enter upper range: "))  
  
for num in range(lower,upper + 1):  
    if num > 1:  
        for i in range(2,num):  
            if (num % i) == 0:  
                break  
        else:  
            print(num,end=",")

Enter lower range: 1
Enter upper range: 40
2,3,5,7,11,13,17,19,23,29,31,37,

#### 3. Enter the value from user find it is Armstrong number or Not.
Example: values is 123:<br>
Output: it is not Armstrong<br>
Armstrong meaning: 1<br>
3+2<br>
3+33=123 or 1234 : 14+24+34+44 =1234

In [ ]:
# take input from the user
num = int(input("Enter a number: "))

# initialize sum
sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp //= 10

# display the result
if num == sum:
    print(num,"is an Armstrong number")
else:
    print(num,"is not an Armstrong number")

Enter a number: 370
370 is an Armstrong number

#### 4. print following Program

0 1 2 3 4 5 <br>
0 1 2 3 4<br>
0 1 2 3<br>
0 1 2<br>
0 1<br>
0

In [ ]:
for i in range(10):
    for j in range(i):
        print(' ', end=' ')
    for j in range(10-i):
        print(j, end=' ')
    print()

0 1 2 3 4 5 6 7 8 9
  0 1 2 3 4 5 6 7 8
    0 1 2 3 4 5 6 7
      0 1 2 3 4 5 6
        0 1 2 3 4 5
          0 1 2 3 4
            0 1 2 3
              0 1 2
                0 1
                  0

#### 5. Print Following Table on the Screen

In [ ]:
print("\t1   2   3   4   5   6   7   8   9  10")
print(" +--------------------------------------------")
for row in range(1, 11):
    if row < 10:
        print(" ", end="")
    print(row, " | ", end="") # Print heading for this row.
    for column in range(1, 11): # Table has 10 columns.
        product = row*column; # Compute product
        if product < 100: # Need to add space?	
            print(end=" ")
        if product < 10: # Need to add another space?
            print(end=" ")
        print(product, end=" ") 
    print()

	1   2   3   4   5   6   7   8   9  10
 +--------------------------------------------
 1  |   1   2   3   4   5   6   7   8   9  10
 2  |   2   4   6   8  10  12  14  16  18  20
 3  |   3   6   9  12  15  18  21  24  27  30
 4  |   4   8  12  16  20  24  28  32  36  40
 5  |   5  10  15  20  25  30  35  40  45  50
 6  |   6  12  18  24  30  36  42  48  54  60
 7  |   7  14  21  28  35  42  49  56  63  70
 8  |   8  16  24  32  40  48  56  64  72  80
 9  |   9  18  27  36  45  54  63  72  81  90
10  |  10  20  30  40  50  60  70  80  90 100

#### 6. Enter the Value from user Print 1^1 + 2^2 + 3^2 + 4^2 + 5^2 =  55 serise.

In [ ]:
user = int(input("enter number"))
result = 1
x=0
if (user > 0):
    print("1^1",end="")
    for x in range(2,user+1):
        result = result + int(x*x)
        print(" +",str(x)+"^2",end="")
elif(user <0):
    x=-1  
    print("(-1)^2",end="")
    while(x>user):
        x=x-1
        print(" +","("+str(x)+")^2",end="")
        result = result + int(x*x)
else:
    result=0
print(" = ",result)

enter number5
1^1 + 2^2 + 3^2 + 4^2 + 5^2 =  55

#### 7. Enter the any value from User find Range of suqare . 
**Example:** 
enter number : 3<br>
{1: 1, 2: 4, 3: 9}<br>
ENTER number of ending: 6<br>
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}<br>

In [ ]:
a = input("enter number : ")
square = {}
for num in range(1,int(a)+1):
    square[num] = num**2
print(square)

# OR
number =int(input("ENTER number of ending: "))
square = {x:x**2 for x in range(1,number+1)}
print(str(square))

enter number : 3
{1: 1, 2: 4, 3: 9}
ENTER number of ending: 6
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

#### 8.  remove duplicates from list  (without using set)

In [ ]:
list1=[1,2,3,4,5,1,3,9,1,1,1,3]
list2=[]
for i in range(len(list1)):
    #print(list1[i],end=" ")
    if (list1[i] not in list2): 
        list2.append(list1[i])
print(list2)

[1, 2, 3, 4, 5, 9]

Print Following Output
```
p 
py
pyt
pyth
pytho
python
pytho
pyth
pyt
py
p
```

In [1]:
my_string = "python"
x = 0

for i in my_string:
    x = x + 1
    print(my_string[0:x])

for i in my_string:
    x = x - 1
    print(my_string[0:x])

p
py
pyt
pyth
pytho
python
pytho
pyth
pyt
py
p